<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectLinQ.Properties.Settings.DemoConnectionString"
            connectionString="Data Source=DESKTOP-Q0FUP9V\MSSQLNGUYENVEN;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="ConnectLinQ.Properties.Settings.DemoConnectionString1"
            connectionString="Data Source=DESKTOP-Q0FUP9V\MSSQLNGUYENVEN;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectLinQ.Properties.Settings.DemoConnectionString2"
            connectionString="Data Source=DESKTOP-Q0FUP9V\MSSQLNGUYENVEN;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="ConnectLinQ.Properties.Settings.DatabaseTestConnectionString"
            connectionString="Data Source=34.87.155.205;Initial Catalog=DatabaseTest;User ID=sqlserver;Password=113114115"
            providerName="System.Data.SqlClient" />
        <add name="ConnectLinQ.Properties.Settings.DatabaseTestConnectionString1"
            connectionString="Data Source=34.87.155.205;Initial Catalog=DatabaseTest;Persist Security Info=True;User ID=sqlserver;Password=113114115"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>